.connect-app-container {
  $disabled-color: #636363;
  margin: 3em 0 6em 0;
  text-align: center;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    cursor: pointer;
    .card-image {
      width: 225px;
    }
  }
  .card.xero-logo img {
    width: 105px;
  }
}
