.link-xrp-account-container {
  margin: 3em 0 6em 0;
  text-align: center;
  .tabs {
    font-weight: bold;
  }
  .xrp-account-input {
    font-weight: bold;
  }
  .xrpl-logo,
  .paystring-logo {
    border-radius: 12px;
    width: 200px;
    height: 54px;
    margin: 1em 0 1em 0;
  }
}
